/node_modules
/storage/*.key
/storage/installed
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/Modules/
package-lock.json
*.log
composer.lock

/public/modules
/public/themes
/public/hot
/public/storage
/public/vendor
/public/theme-assets
/public/module-assets
/public/vendor.js
/public/mix-manifest.json
/public/manifest.js