/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/Modules/
package-lock.json
*.log
composer.lock
public/modules
public/themes/*
public/mix-manifest.json
public/vendor.js
public/manifest.js

/config/*.php
!/config/app.php
!/config/auth.php
!/config/broadcasting.php
!/config/cache.php
!/config/database.php
!/config/filesystems.php
!/config/hashing.php
!/config/logging.php
!/config/mail.php
!/config/modules.php
!/config/queue.php
!/config/services.php
!/config/session.php
!/config/view.php