/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/Modules/
package-lock.json
package.json
*.log
composer.lock

/public/module-assets
/public/themes/*
/public/mix-manifest.json
/public/vendor.js
/public/manifest.js
/public/hot
/public/storage
public/modules/*